html {
  font-size: calc(1.0 * min(6.2vw, 7.8vh));
  background-color: rgb(31, 31, 49);
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  font-size-adjust: none;
  line-height: 1.25rem;
  text-align: center;
}


main {
  margin: 0 auto;
  width: auto;
  align-self: center;
  text-align: left;
  display: inline-block;
}

.title {
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}


p {
  padding-left:0rem;
}

a {
color: inherit;
  text-decoration: none;
  border-bottom: none; 
}

a:hover, summary:hover {
color: #fff;
background-color: rgba(255, 255, 255, 0.05);
}

details {
  white-space: nowrap;
}

/* https://stackoverflow.com/questions/56758098/how-to-position-detail-marker-to-come-after-summary */
details>summary {
 
  list-style: none;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}

a:after {
  content: " ▸";
}

details[open]>summary:after {
  content: "";
}

.letter-row {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.letter-box {
  border: 2px solid #fff;
  color: inherit;
  margin: .1rem;
  font-size: 1rem;
  height: 2.0rem;
  width: 2.0rem;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

section {
  transition-duration: 500ms;
}

section.not-current-date {
  opacity: 0.5;
  display: none;
}

section.current-date {
  opacity: 1.0;
  display: block;
}

section.do-show-me {
  display: block;
}